@page "/"
@using System.Reflection.Metadata.Ecma335
@inject NavigationManager NavigationManager
@using FrontEnd.Classes
@using FrontEnd.Models

<PageTitle>Index</PageTitle>
<h1>What you can Eat</h1>
<div style="max-height: 600px; overflow-y: auto;">
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Danger Level</th>
                <th>More Info</th>
                <th></th>
                <th>
                    <button @onclick="CreateItem">
                        <i class="fas fa-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (FoodModel m in list)
            {
                <tr>
                    <td>@m.Name</td>
                    <td class="danger-level-@m.DangerLevel">@m.DangerLevel</td>
                    <td>@m.MoreInfo</td>
                    <td>
                        <button @onclick="() => EditItem(m.Id)">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                    <td>
                        <button @onclick="() => DeleteItem(m.Id)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code
{
    List<FoodModel> list = new();
    ApiHandle handler = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        GetFoodData();
    }

    private async void GetFoodData()
    {
        list = await handler.GetAllFood();
        StateHasChanged();
    }

    void EditItem(int itemId)
    {
        Console.WriteLine($"Edit item with ID: {itemId}");
        NavigationManager.NavigateTo($"/update/{itemId}");
    }

    async void DeleteItem(int itemId)
    {
        if(await handler.DeleteFood(itemId)) GetFoodData();
        Console.WriteLine($"Delete item with ID: {itemId}");
    }

    void CreateItem()
    {
        int newId = list.Count > 0 ? list.Max(item => item.Id) + 1 : 1;

        NavigationManager.NavigateTo($"/create/{newId}");
    }
}
